{!extends file='base.html'!} {!block name=base!}
 <script src="/static/js/jquery.form.js"></script> 
<style>
/*a  upload */
.a-upload {
	padding: 0px 10px;
	height: 30px;
	line-height: 30px;
	position: relative;
	cursor: pointer;
	color: #888;
	background: #fafafa;
	border: 1px solid #ddd;
	border-radius: 4px;
	overflow: hidden;
	display: inline-block;
	float:left;
	*display: inline;
	*zoom: 1;

}
 
.a-upload  input {
	position: absolute;
	font-size: 100px;
	right: 0;
	top: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer
}
 
.a-upload:hover {
	color: #444;
	background: #eee;
	border-color: #ccc;
	text-decoration: none
}
th{
	text-align:center;
	color:#fff;
}

th.s1{
	background: #F6C286;
}

th.s2{
	background: #F9D776;
}

th.s3{
	background: #BFCE7D;
}

th.s4{
	background: #9CC289;
}

td{
	text-align:center;
}

td.s5{
	background:#F6F6F6;
}
td.s6{
	background:#F1F1F1;
}
td.s7{
	background:#FAFAFA;
}
td.s8{
	background:#F8F8F8;
}

.tips{
	font-size:0.8em;
	line-height:30px;
	height:30px;
	padding:0 10px;
	display:block;
	float:left;
}

.pricefont{
	font-size:1em;
	line-height:30px;
	height:30px;
	float:left;
	color:#ff6640;
	font-family:微软雅黑;
	margin-left:-10px;
	font-weight:bold;
}

#filename{
	font-size:1.2em;
	font-color:block;
	font-weight:bold ;
}
#pricetable{
	margin-top:1000px;
}

.qrcode{
	width:50%;
	height:auto;
	float:left;
	padding:10px;
}
.content{
	width:50%;
	height:auto;
	float:right;
	padding:20px;
}

#qrcodeimg{
	width:80%;
}

.mapbtn{
	cursor:pointer;
}

.helptext{
	font-size:0.7em;
	margin:-10px auto;
}

</style>
<script>

$(document).ready(function(){
	//价格表动画效果
	
	var div = $("#pricetable");
	div.animate({marginTop:'0',opacity:'0.5'},"3000",'easeInExpo');
	div.animate({marginTop:'200',opacity:'0.6'},"4000",'easeOutExpo');
	div.animate({marginTop:'0',opacity:'0.7'},"4000",'easeInExpo');
	div.animate({marginTop:'70',opacity:'0.8'},"5000",'easeOutExpo');
	div.animate({marginTop:'0',opacity:'0.9'},"5000",'easeInExpo');
	$("input").keypress(function(e){
		var keyCode= e.keyCode?e.keyCode:e.witch?e.witch:e.charCode;
		if(keyCode == 13){
			return false;
		}
	});
	
	$('input[id=fileToUpload]').change(function() {
	    var path = $(this).val();
	    path = path.split("\\");
	    $('#filename').html(path[path.length-1]);
	    $('#submit').addClass("disabled");
	    $('#loading').removeClass("dpn");
	    $('#loading').prop("src","static/images/loading.gif");
	    
		var options = {
			    url:"{!$api_url!}"+"/PrintFile",
			    dataType: 'json',
			    type:"POST",
			    data:{type:"file"},
			    timeout:100000,
			    success: function(data) {
			    	$('#submit').removeClass("disabled");
			    	$('#loading').prop("src","/static/images/OK.png");
			    	$('#uploadfileid').val(data.data.id);
			    	$('#uploadfilepath').val(data.data.filepath);
			    	$('#uploadfilename').val($('#filename').html());
			    },
			    error:function(data){
			    	$('#submit').addClass("disabled");
			    	$('#loading').addClass("dpn");
			    	$('#filename').html("上传失败，请刷新后重试");
			    }
	    };
	    $('#configform').ajaxSubmit(options);
	});   
	var isduplex = "双面";
	var gettime = "隔天取";
	$(":radio").click(function(e){
		switch(e.target.id)
		{
			case "blankRadio1":
				gettime = "隔天取";
				break;
			case "blankRadio2":
				gettime = "当天取";
				break;
			case "blankRadio3":
				isduplex = "双面";
				break;
			case "blankRadio4":
				isduplex = "单面";
				break;
		}
		calcprice();
	});
	$("select").change(function(){
		calcprice();
	});
	$('#pagecount').change(function(){
		calcprice();
	});

	function calcprice(){
		var pagecount = $('#pagecount').val();
		if(pagecount!=""&!isNaN(pagecount)){
			var onepageprice = 0;
			switch($('#pagesize').val())
			{
				case "A4":
					if("黑白"==$('#pagecolor').val()){
						if("隔天取"==gettime){
							if("单面"==isduplex){
								onepageprice = 0.12;
							}else{
								onepageprice = 0.08;
							}
						}else{
							if("单面"==isduplex){
								onepageprice = 0.15;
							}else{
								onepageprice = 0.10;
							}
						}
					}else{
						if("隔天取"==gettime){
							if("单面"==isduplex){
								onepageprice = 0.90;
							}else{
								onepageprice = 0.90;
							}
						}else{
							if("单面"==isduplex){
								onepageprice = 1.00;
							}else{
								onepageprice = 1.00;
							}
						}
					}
					break;
				case "A3":
					if("黑白"==$('#pagecolor').val()){
						if("隔天取"==gettime){
							if("单面"==isduplex){
								onepageprice = 0.20;
							}else{
								onepageprice = 0.20;
							}
						}else{
							if("单面"==isduplex){
								onepageprice = 0.30;
							}else{
								onepageprice = 0.25;
							}
						}
					}else{
						if("隔天取"==gettime){
							if("单面"==isduplex){
								onepageprice = 1.80;
							}else{
								onepageprice = 1.80;
							}
						}else{
							if("单面"==isduplex){
								onepageprice = 2.00;
							}else{
								onepageprice = 2.00;
							}
						}
					}
					break;
				case "B4":
					if("黑白"==$('#pagecolor').val()){
						if("隔天取"==gettime){
							if("单面"==isduplex){
								onepageprice = 0.20;
							}else{
								onepageprice = 0.20;
							}
						}else{
							if("单面"==isduplex){
								onepageprice = 0.30;
							}else{
								onepageprice = 0.25;
							}
						}
					}else{
						if("隔天取"==gettime){
							if("单面"==isduplex){
								onepageprice = 1.80;
							}else{
								onepageprice = 1.80;
							}
						}else{
							if("单面"==isduplex){
								onepageprice = 2.00;
							}else{
								onepageprice = 2.00;
							}
						}
					}
					break;
			}
			var price = onepageprice * pagecount;
			$('#price').html("总价:"+ price.toFixed(2)+"元");
			$('#orderprice').val(price.toFixed(2));
		}else{
			$('#price').html("");
		}
	}
	
	    $("#submit").click(function(){
	    	if($('submit').hasClass("disabled")){
	    		alert("请先选择要打印的文件");
	    	}else{
	    		if($('#tel').val()==""|| !(/^1[3|4|5|7|8][0-9]\d{4,8}$/.test($('#tel').val()))){
	    			alert("手机号是取货的凭证，也是唯一的查询订单的方法，请务必填写");
	    			$('#tel').focus();
	    			return false;
	    		}
	    		$.ajax({
	    			type:"POST",
	    			url:"{!$api_url!}"+"/PrintFile",
	    			timeout : 3000,
	    			dataType:"json",
	    			data:$("#configform").serialize(),
	    			success:function(data){
	    				if(data.result ==0){
	    					//订单创建成功
	    					console.log("订单提交成功");
	    					$.ajax({
				    			type:"POST",
				    			url:"/static/alipay/alipayapi.php",
				    			timeout : 3000,
				    			data:{
				    				WIDout_trade_no:data.data.id,
			    					WIDsubject:"喵校园云打印订单",
		    						WIDtotal_fee:$('#orderprice').val(),
		    						ticket:data.data.ticket,
				    			},
				    			success:function(data,e){
				    				$('#resultrest').html(data);
				    				console.log("alipay订单提交成功"+e.message);
				    			},
				    			error:function(data,e){
				    				console.log("alipay订单提交失败"+e.message);
				    			},
	    					});
	    					$('#myModal').modal({
	    						  keyboard: false
	    						}) 
	    				}else{
	    					alert("网络异常，请稍后重试");
	    				}
	    			},
	    			error:function(data){
	    				alert("网络异常，请稍后重试");
	    			},
	    		});
	    	}
	    	return false;
	    });

	 
});
</script>
<div class="container-fluid">
<div id="resultrest"></div>
	<div class="row" style="text-align: center">
		<div class="col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1 col-sm-7 col-xs-12 tac">
			<h3 style="margin-left:-100px;">提交订单</h3>
			<form id="configform" class="form-horizontal"  role="form" >
				<div class="form-group">
			    	<label for="shopname" class="col-sm-2 control-label">店铺名称</label>
			    	<div class="col-lg-6 col-md-6 col-sm-6 tal">
						<p class=" form-control-static" >同济嘉定优之优图文（申通快递旁）<!-- <span class="badge mapbtn" data-toggle="modal" data-target="#mapModal">查看地图</span> --></p>
						<input type="hidden" value="同济嘉定优之优图文" name="shopname" >
					</div>
			    </div>
			    <div class="form-group">
			    	<label for="pagesize" class="col-sm-2 control-label">纸张尺寸</label>
			    	<div class="col-lg-6 col-md-6 col-sm-6">
					    <select id="pagesize"  name="pagesize"class="form-control" >
						    <option value="A4">A4</option>
						    <option  value="A3">A3</option>
						    <option  value="B4">B4</option>
						</select>
					</div>
			    </div>
			    <div class="form-group">
			    	<label for="pagecolor" class="col-sm-2 control-label">选择色彩</label>
			    	<div class="col-lg-6 col-md-6 col-sm-6">
					    <select id="pagecolor"  name="pagecolor" class="form-control">
					    	<option  value="黑白">黑白</option>
						    <option  value="彩色">彩色</option>
						</select>
					</div>
			    </div>
			    <div class="form-group">
			    	<label for="isduplex" class="col-sm-2 control-label">打印模式</label>
			    	<div class="tal col-lg-6 col-md-6 col-sm-6">
				       <div id="isduplex" class="radio">
				       	<label>
						    <input type="radio"  name="isduplex" id="blankRadio3" value="双面"  checked="checked">双面打印
						  </label>
						  <label>
						    <input type="radio"  name="isduplex" id="blankRadio4" value="单面">单面打印
					      </label>
						</div>
					</div>
			    </div>
			    <div class="form-group">
			    	<label for="gettime" class="col-sm-2 control-label">领取时间</label>
			    	<div class="tal col-lg-6 col-md-6 col-sm-6">
				       <div id="gettime" class="radio">
				       	  <label>
						    <input type="radio"  name="gettime" id="blankRadio1" value="隔天取"  checked="checked">隔天取(次日9点以后)
						  </label>
						  <label>
						    <input type="radio"  name="gettime" id="blankRadio2" value="当天取">当天取(至少间隔3小时)
					      </label>
						</div>
					</div>
			    </div>
			    <div class="form-group">
			    	<label for="pagecount" class="col-sm-2 control-label">填写页数</label>
			    	<div class="col-lg-3 col-md-3 col-sm-3">
					    <input id="pagecount" name="pagecount"  type="text" class="form-control" placeholder="请填写数字">
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<p id="price" class="pricefont" ></p>
					</div>
			    </div>
			    <div class="form-group">
			    	<label class="col-sm-2 control-label"></label>
			    	<div class="col-lg-6 col-md-6 col-sm-6 tal helptext">
						<p class=" form-control-static " >如果您填写的页数与文档实际页数不同，可能会需要您到店确认后再打印，因此为了您能及时取到文档，请准确填写打印页数</p>
					</div>
			    </div>
			    <div class="form-group">
			    	<label for="tel" class="col-sm-2 control-label">填写手机</label>
			    	<div class="col-lg-6 col-md-6 col-sm-6">
					    <input id="tel" name="tel"  type="text" class="form-control" placeholder="手机号将作为取货凭证">
					</div>
			    </div>
			    <div class="form-group">
			    	<label for="mark" class="col-sm-2 control-label">备注</label>
			    	<div class="col-lg-6 col-md-6 col-sm-6">
						<input id="mark" name="mark" type="text" class="form-control" placeholder="特殊要求请标注，比如一面多页，不打印全文等">
					</div>
			    </div>
			    <div class="form-group">
			    	<label for="pagesize" class="col-sm-2 control-label">上传文件</label>
			    	<div class="tal col-lg-6 col-md-6 col-sm-6">
						<a href="javascript:;" class="a-upload" >
							<input type="file" name="fileToUpload" id="fileToUpload">点击这里上传文件
							<input type="hidden" name="MAX_FILE_SIZE" value="10000000">
						</a><span class="tips">最大支持10M大小的文件</span>
					</div>
			    </div>
				<div class="form-group">
			    	<label class="col-sm-2 control-label"></label>
		    		<div class="col-sm-10 tal">
		      			<img id="loading" src="/static/images/loading.gif"  class="dpn" style="height:1em;width:1em;">
		      			<span id="filename" name="filename" class="form-control-static tal"></span>
		    		</div>
			  	</div>
			    <div class="form-group">
			    	<label for="pagesize" class="col-sm-2 control-label"></label>
			    	<div class="tl col-lg-6 col-md-6 col-sm-6">
			      		<button id="submit" type="submit" class="btn btn-default disabled">确认提交</button>
			    	</div>
			  	</div>
			  	<input type="hidden" name="uploadfileid"  id="uploadfileid" />
			  	<input type="hidden" name="uploadfilepath"  id="uploadfilepath" />
			  	<input type="hidden" name="uploadfilename"  id="uploadfilename" />
			  	<input type="hidden" name="orderprice"  id="orderprice" />
 			</form>
		</div>
		<div id="pricetable" class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
			<h3>价格表</h3>
			<table class="table">
				<thead>
					<tr>
						<th class="s1">大小</th>
						<th class="s2">颜色</th>
						<th class="s3">当天取单价</th>
						<th class="s4">隔天取单价</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="s5">A4</td>
						<td class="s6">黑白</td>
						<td class="s5">单：0.15元<br/>双：0.20元</td>
						<td class="s6">单：0.12元<br/>双：0.16元</td>
					</tr>
					<tr>
						<td class="s7">A3</td>
						<td class="s8">黑白</td>
						<td class="s7">单：0.30元<br/>双：0.50元</td>
						<td class="s8">单：0.20元<br/>双：0.40元</td>
					</tr>
					<tr>
						<td class="s5">B4</td>
						<td class="s6">黑白</td>
						<td class="s5">单：0.30元<br/>双：0.50元</td>
						<td class="s6">单：0.20元<br/>双：0.40元</td>
					</tr>
					<tr>
						<td class="s7">A4</td>
						<td class="s8">彩色</td>
						<td class="s7">单：1.00元<br/>双：2.00元</td>
						<td class="s8">单：0.90元<br/>双：1.80元</td>
					</tr>
					<tr>
						<td class="s5">A3</td>
						<td class="s6">彩色</td>
						<td class="s5">单：2.00元<br/>双：4.00元</td>
						<td class="s6">单：1.80元<br/>双：3.60元</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade"  id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
       <h4 class="modal-title">正在为您跳转到支付宝页面...</h4>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->
<div class="modal fade"  id="mapModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="height:260px;display:block">
		<img src="/static/images/print-2.png"/>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{!/block!}