{!extends file='base.html'!} {!block name=base!}
<script>
$(document).ready(function(){
	$("#title1").fadeIn({
	     duration: 1000, 
	     easing: 'easeInExpo', 
	     complete:  function(){},
	 });
	$("#title2").fadeIn({
	     duration: 2000, 
	     easing: 'easeInExpo', 
	     complete:  function(){},
	 });
	$("#title3").fadeIn({
	     duration: 3000, 
	     easing: 'easeInExpo', 
	     complete: function(){},
	 });
	
	$("#click1").fadeIn({
	     duration: 4000, 
	     easing: 'easeInExpo', 
	     complete: function(){ 
	     },
	 });
	
	$("#click2").fadeIn({
	     duration: 4000, 
	     easing: 'easeInExpo', 
	     complete: function(){ 
	     },
	 });

});
</script>
<style>
#box{
	padding-top:20px;
}
h1{
	display:none;
}
#click1{
	margin:50px 20px;
	display:none;
	background:url(/static/images/print-2.png) no-repeat;
	width:150px;
	height:150px;
	float:left;
}

#click1:hover{
	background:url(/static/images/print-1.png) no-repeat;
}

#click2{
	margin:50px 20px;
	display:none;
	background:url(/static/images/query-2.png) no-repeat;
	width:150px;
	height:150px;
	float:left;
}

#click2:hover{
	background:url(/static/images/query-1.png) no-repeat;
}

.buttongroup{
	margin:0px auto;
	display:block;
	width:380px;
	height:200px;
	text-align:center;
}
.titleimg{
	margin:10px auto;
	display:none;
}

.gifimage{
	width:100%;
}
</style>
<div class="container-fluid">
	<div class="row" style="text-align: center">
		<div id="box" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<!--  <img id="title1" class="titleimg" src="/static/images/1.png" />
			<br/>
			<img id="title2"  class="titleimg" src="/static/images/2.png" />
			<br/>
			<img id="title3"  class="titleimg" src="/static/images/3.png" />
			<br/>
			-->
			<div class="col-md-4">
				<img id="title1" class="titleimg gifimage" src="/static/images/1.png" />
				<img class="gifimage"  src="/static/images/001.gif" />
			</div>
			<div class="col-md-4">
				<img id="title2"  class="titleimg gifimage" src="/static/images/2.png" />
				<img class="gifimage"  src="/static/images/002.gif" />
			</div>
			<div class="col-md-4">
				<img id="title3"  class="titleimg gifimage" src="/static/images/3.png" />
				<img class="gifimage" src="/static/images/003.gif" />
			</div>
			<div class="buttongroup">
				<a  id="click1"  href="/upload"></a>
				<a  id="click2"  href="/query"></a>
			</div>
		</div>
	</div>
</div>
{!/block!}
